<div class="contacts">
  <div class="hr"></div>
  <div class="content">
    <h1>контакты для связи</h1>
    <div class="mail-and-phone d-flex">
      <div class="d-flex">
        <span class="small-text">Рабочая почта</span>
        <a href="mailto:{{email}}">
          <span class="big-text">{{email}}</span>
        </a>
      </div>
      <div class="d-flex">
        <span>Справочный номер</span>
        <a href="tel:{{getPhone(phone)}}">
          <span class="big-text">{{phone}}</span>
        </a>
      </div>
    </div>
    <div class="offices">
      <h4 class="small-text">Наши офисы</h4>
      <div class="wrapper">
        <div nz-row nzJustify="space-between">
          <ng-container *ngFor="let item of ourOffices">
            <div nz-col [nzXs]="12" [nzSm]="8">
              <div
                class="office"
                (mouseenter)="mel(item.imgName)"
                (mouseleave)="mel()"
              >
                <div class="hover"></div>
                <div class="d-flex">
                  <span class="big-text">{{item.name}}</span>
                  <img ngSrc="assets/images/icons/clock.svg" width="31" height="31" alt="clock">
                </div>
                <div class="d-flex">
                  <span class="small-text">{{item.address}}</span>
                  <a href="javascript:void(0)">
                    <img ngSrc="assets/images/icons/arrow-up-right.svg" width="24" height="24" alt="arrow-up-right">
                  </a>
                </div>
                <div class="d-flex">
                  <span class="small-text">{{item.phone}}</span>
                  <a href="tel:{{getPhone(item.phone)}}">
                    <img ngSrc="assets/images/icons/arrow-up-right.svg" width="24" height="24" alt="arrow-up-right">
                  </a>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="social d-flex">
      <a href="javascript:void(0)" (click)="start()">
        <img ngSrc="assets/images/icons/facebook.svg" width="100" height="100" alt="facebook">
      </a>
      <a href="javascript:void(0)">
        <img ngSrc="assets/images/icons/instagram.svg" width="100" height="100" alt="instagram">
      </a>
      <a href="javascript:void(0)">
        <img ngSrc="assets/images/icons/twitter.svg" width="100" height="100" alt="twitter">
      </a>
      <a href="javascript:void(0)">
        <img ngSrc="assets/images/icons/discord.svg" width="100" height="100" alt="discord">
      </a>
    </div>
  </div>
  <ng-container *ngFor="let item of ourOffices">
    <div *ngIf="item.imgName === activeSight" class="sight sight-{{item.imgName}}" [@slideInOut]>
      <img ngSrc="assets/images/sight/{{item.imgName}}.svg" width="484" height="600" alt="{{item.imgName}}">
    </div>
  </ng-container>
</div>
