.contacts {
    position: relative;
    padding: 30px;
    overflow: hidden;

    .big-text {
        font-size: 36px;
        font-weight: 400;
        line-height: 54px;
        letter-spacing: -0.035em;
        text-align: left;
        text-transform: uppercase;
    }

    .small-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;
        color: rgba(239, 237, 253, 0.6);
        text-align: left;
    }

    .hr {
        height: 2px;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 47.63%, rgba(255, 255, 255, 0) 99.41%);
    }

    .content {
        padding: 88px 180px;

        h1 {
            font-size: 64px;
            font-weight: 400;
            line-height: 74px;
            text-align: left;
            margin-bottom: 76px;
        }

        .mail-and-phone {
            gap: 142px;
            margin-bottom: 72px;

            .d-flex {
                flex-direction: column;
                gap: 10px;
            }
        }

        .offices {
            margin-bottom: 45px;

            .wrapper {
                max-width: 1107px;
                margin: 0 -45px;

                .office {
                    padding: 23px 45px 27px;

                    .hover {
                        position: absolute;
                        top: -37px;
                        right: 0;
                        bottom: -8px;
                        left: 0;
                        z-index: -1;
                    }

                    .d-flex {
                        gap: 15px;
                        align-items: center;

                        &:first-child {
                            margin-bottom: 5px;
                        }

                        &:last-child {
                            margin-top: 22px;
                        }

                        .small-text {
                            line-height: 21px;
                        }
                    }

                    &:hover {
                        cursor: url("/assets/images/icons/cursor.svg"), pointer;

                        .hover {
                            background: linear-gradient(180deg, rgba(217, 217, 217, 0) 0%, rgba(217, 217, 217, 0.11) 100%);
                        }
                    }
                }
            }
        }

        .social {
            gap: 50px;
        }
    }

    .sight {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
    }
}
